html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #003366;
}

p,
h1 {
  color: #ffffff;
}

.box {
  border: 4px solid gold;
  padding: 20px;
  border-radius: 20px;
  height: auto;
  width: 80vw;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #004080;
  gap: 2rem;
}

.gamename,
.extra {
  font-family: "Allerta", sans-serif;
  margin: 0rem;
  font-size: 2rem;
}

.gamename {
  font-size: 6rem;
  margin: 0;
}

.bien {
  margin-top: 1rem;
}

.extra {
  margin-bottom: 1rem;
}

.play-button {
  padding: 20px 50px;
  border: 4px solid gold;
  background-color: #04aa6d;
  cursor: pointer;
  font-family: "Allerta", sans-serif;
  border-radius: 12px;
  transition: background-color 0.3s, transform 0.3s;
}

.play-button:hover {
  background-color: #3e8e41;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .gamename {
    font-size: 4rem;
  }
  .extra {
    font-size: 1.5rem;
    margin-top: 2vh;
  }
  .play-button {
    padding: 15px 40px;
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .gamename {
    font-size: 3rem;
  }
  .extra {
    font-size: 1rem;
    margin-top: 1vh;
  }
  .play-button {
    padding: 10px 30px;
    font-size: 1.2rem;
  }
}
